#header{
    background-blend-mode: initial;
}

#hero{
background-image: url('../img/mass.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}


#caracteristicas-2{
    background-color: #262335;
    color: white;
}
.logo{
align-items: center;
    margin-top: 20px;
    padding: 20px;
    padding-right: 50px;
    background-position: center;
}

.card{
    border-radius: 10px;
    box-shadow: 1px  4px 0 #00000036;
}

h1{
    font-weight: 900;
    font-size: 6rem;
    color: red;
}

h2{
    font-weight: 300;
}

#fotos{
    background-color: #262335;
    color: white;  
}

.redes{
    filter: invert(100%);
}

.live{
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 
    0 0 4px red, 
    0 0 8px red, 
    0 0 12px rgb(255, 162, 219),
    0 0 14px rgb(255, 162, 219);
    animation: flicker 1.5s infinite alternate;
}

.b-hope{
    font-size: 5.4rem;
    font-weight: 900;
}

.video{
    background-color: #262335;
}

#footer{
    box-sizing: border-box;
    color: white;
}