#header{
    background-blend-mode: initial;
}

#hero{
background-image: url('../img/mass.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}


#caracteristicas-2{
    background-color: #262335;
    color: white;
}
.logo{
align-items: center;
    margin-top: 20px;
    padding: 20px;
    padding-right: 50px;
    background-position: center;
}

.card{
    border-radius: 10px;
    box-shadow: 1px  4px 0 #00000036;
}

h1{
    font-weight: 900;
    font-size: 6rem;
    color: red;
}

h2{
    font-weight: 300;
}


#fotos{
    background-color: #262335;
    color: white;  
}

.mas{
    color: red;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.redes{
    filter: invert(100%);
    text-decoration: none;
    image-resolution: 100%;
}

.live{
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 
    0 0 4px red, 
    0 0 8px red, 
    0 0 12px rgb(255, 162, 219),
    0 0 14px rgb(255, 162, 219);
    animation: flicker 1.5s infinite alternate;
}

.b-hope{
    font-size: 5rem;
    font-weight: 900;
    color: red;
}

.video{
    background-color: #262335;
}

#footer{
    box-sizing: border-box;
    color: white;
}
.firma{
    font-size: 70%;
}

/* DISCOGRAFIA */
* {
    margin: 0%;
    box-sizing: border-box;
}

h3{
    font-weight: 800;
    font-size: 3.5rem;
    color: white;
    font-family: 'Rampart One', cursive;
    font-family: 'Monoton', cursive;
}

#discografia{
    background-color: rgb(29, 14, 40);
}


#botones{
    background-color: #262335;
}
.boton-negro{
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

#album{
    background-color: #262335;
}

#single{
    background-color: #262335;
}

.img {
    width: 300px;
    height: auto;
    position: relative; 
}  
  
  .img p {
    margin: auto;  
    color: #fff;    
    line-height: 300px; /* igual height de la imagen */
    
    background: rgba(0, 0, 0, 0.733);
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
  .img:hover p {
    opacity: .75;  
  }
